<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635822721339-7920gm3e34j7q86utdejdsvo8mrfds6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635822721339-7920gm3e34j7q86utdejdsvo8mrfds6f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>635822721339-g5503lqnrk43a5389h8m17sdu0ujma38.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOAij3lPeEtqfoT5rWLRjr8vwQzvR5srw</string>
	<key>GCM_SENDER_ID</key>
	<string>635822721339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theshubh77.shareeatapp</string>
	<key>PROJECT_ID</key>
	<string>shareeatapp-ad1b2</string>
	<key>STORAGE_BUCKET</key>
	<string>shareeatapp-ad1b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635822721339:ios:5c38203fe16d4c96460f1e</string>
</dict>
</plist>